apiVersion: v1
kind: Service
metadata:
  name: inventory-service
  namespace: logistics-demo
  labels:
    app: inventory-service
    tier: backend
spec:
  type: ClusterIP
  ports:
  - port: 8003
    targetPort: 8003
    protocol: TCP
    name: http
  selector:
    app: inventory-service
