apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: logistics-demo
  labels:
    app: postgresql
type: Opaque
stringData:
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: demo_password_123
  POSTGRES_DB: postgres
