apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: logistics-demo
  labels:
    app: order-service
spec:
  type: ClusterIP
  ports:
  - port: 8001
    targetPort: 8001
    protocol: TCP
    name: http
  selector:
    app: order-service
