apiVersion: v1
kind: Service
metadata:
  name: tracking-service
  namespace: logistics-demo
  labels:
    app: tracking-service
    tier: backend
spec:
  type: ClusterIP
  ports:
  - port: 8002
    targetPort: 8002
    protocol: TCP
    name: http
  selector:
    app: tracking-service
