apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: logistics-demo
  labels:
    app: api-gateway
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: api-gateway
