apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: logistics-demo
  labels:
    app: notification-service
    tier: backend
spec:
  type: ClusterIP
  ports:
  - port: 8004
    targetPort: 8004
    protocol: TCP
    name: http
  selector:
    app: notification-service
